@import url(//db.onlinewebfonts.com/c/1094504ae47cb9cfa800bc04261c211a?family=Geomanist);
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Geomanist;
}
body {
   box-sizing: border-box;
   color: #ffffff;
   background-color: #000000;
   font-family: Geomanist;
}
